<div class="cont">
  <h2>Aggiungi libro</h2>
  <div class="form">
    <div class="row">
      <div class="col">
        <label>ISBN</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.ISBN">
      </div>
      <div class="col">
        <label>Titolo</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.title">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Autore</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.author">
      </div>
      <div class="col">
        <label>Editore</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.publisher">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>Data pubblicazione</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.publicationDate">
      </div>
      <div class="col">
        <label>Copertina</label>
        <input type="text" class="form-control" [(ngModel)]="bookToBeAdded.coverUrl">
      </div>
    </div>
    <div class="div-btn">
      <button type="button" (click)="onBookSubmit()" class="btn">Aggiungi</button>
    </div>
  </div>
</div>