.cont{background-color: ivory; width: 1024px; margin: 0 auto; padding:10px}

h2{padding: 10px 30px;
    padding-left: 80px;
    border-bottom: double;
    font-variant: small-caps;}

.form {background-color: wheat;
    margin: 0px 22px;
    padding: 0 20px;
    border-radius: 4px;}

label{margin-top: 10px;
    margin-bottom: 0;
    padding-left: 8px;}

.div-btn{text-align: center;
    padding: 14px;}

.btn{color: #000000;
    border-color: #000000;
    padding: 8px 80px;}

.btn:hover{color: #f5deb3;
    background-color: #42382a;
    border-color: #42382a}